<main>

     
    <app-navbar></app-navbar>


    <!-- <div id="users-list"></div> -->


    <div id="join-wrapper">
        <input id="username" type="text" placeholder="Enter your name..." />
        <button id="join-btn">Join Stream</button>
    </div>
    <div id="user-streams" ></div>
    


    <!-- Wrapper for join button -->
    <div id="footer">
        <div class="icon-wrapper">
            <img class="p-1" style="height: 20px; width: 20px;" id="camera-btn" src="./assets/img/video.svg" />
            <p>Cam</p>
        </div>

        <div class="icon-wrapper">
            <img  class="p-1" style="height: 20px; width: 20px;" id="mic-btn" src="./assets/img/microphone.svg" />
            <p>Mic</p>
        </div>

        <div class="icon-wrapper">
            <img  class="p-1" style="height: 20px; width: 20px;"id="leave-btn" src="./assets/img/leave.svg" />
            <p>Leave</p>
        </div>
        
       
        
        
    </div>

</main>