<div class="b">
    <div class="myContainerrr">
            <div class="box mb-3" *ngFor="let translator of translators">
                <div class="image">
                    <img [src]="translator.image">
                </div>
                <div class="name_job">{{translator.translator.userName}}</div>
                <p> {{translator.description}}
                </p>
                <div class="btns">
                    <!-- <a [routerLink]="['/videos/', translator.id]" >Hire Me</a> -->
                    <a [routerLink]="['/login']" >Hire Me</a>
            </div>
        </div>

    </div>
</div>